.search-form {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  z-index: 999;
  background: radial-gradient(
    circle,
    rgba(12, 0, 255, 1) 0%,
    rgba(251, 248, 7, 1) 100%
  );
}

.form__container {
  position: relative;
}

.form__input {
  display: block;
  width: 250px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.form__btn {
  position: absolute;
  top: 5px;
  right: 5px;

  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  .form-btn_icon {
    width: 15px;
    height: 15px;

    fill: #0000be;
  }
  transform: scale(1);
  transition: transform 300ms;

  &:hover {
    transform: scale(1.2);
  }
}
